# Ignorar el entorno virtual
env/

# Archivos de configuración específicos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de Python compilados
__pycache__/
*.py[cod]
*$py.class

# Archivos de logs
*.log

# Archivos de configuración de IDEs
.vscode/
.idea/

# Archivos de configuración de entornos de Python
*.env
*.venv
pip-log.txt
python-env/
